//- Просмотр элемента каталога
extends layout

block head
  link(rel='stylesheet', href='/fotorama/fotorama-4.6.4.min.css')
  
block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item
          a(href="/catalog") Каталог
        li.breadcrumb-item.active #{title}

  section.container.mb-2
    //-
     .row
      .col
        h1= product.carModelText
    .row
      .col-md-7  
        .fotorama(data-width="100%" data-ratio="3/2" data-nav="thumbs" data-thumbheight="96" data-thumbwidth="144" data-allowfullscreen="true")
          each image, index in product.images
            a(href= '/files/' + image.full)
              img(src= '/files/' + image.thumb)
      .col-md-5
        h2.text-primary= product.carModelText
        h3.card-text= product.name
        p.text-muted= product.description
        small Добавлено: #{product.createdText}
          br
          . 
            #{product.responsible}

  include includes/footer.pug

block scripts
  script(src="/fotorama/fotorama-4.6.4.min.js")

