//- Управление пользователями
extends layout

block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item.active #{title}
  
  .container
    h1 #{title}
    p Здесь добавляются новые пользователи, редактируются и удаляются существуюшие.

  .container
    .row
      .col-md-8.order-md-1
        h2 Список пользователей
      .col-md-4.order-md-2
        //-
         form(action="/admin/users/new" novalidate)
        a(href="/admin/users/new")
          button.btn.btn-primary Новый пользователь
  
  if users.length > 0
    .container.mt-2
      table.table.table-hover
        thead.thead-dark
          tr
            th(scope="col") #
            th(scope="col") Логин
            th(scope="col") Телефон
            th(scope="col") Email
            th(scope="col") Роль
            th(scope="col") Действия
        tbody
          each user, index in users
            tr
              th(scope="row")= index + 1
              td= user.name
              td= user.phone
              td= user.email
              td= user.role
              td
                .row
                  .col
                    form(method='POST', action="/admin/users/edit", novalidate)
                      input(type="hidden", name="id", value=user._id)
                      button.btn.btn-link.p-0
                        i.material-icons.success create
                  .col
                    a(href="#",data-toggle="modal", data-target="#deleteUserModal", data-username=user.name, data-userid=user._id)
                      i.material-icons.danger delete

block scripts              
  //- модальное окно подтверждения удаления
  #deleteUserModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#deleteUserModalLabel.modal-title Удаление пользователя
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body 
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Отмена
          form(method='POST', action="/admin/users/delete", novalidate)
            input.userId(type="hidden", name="id")
            button.btn.btn-primary Удалить
  script.
    $('#deleteUserModal').on('show.bs.modal', function (event) {
      var element = $(event.relatedTarget) // Button that triggered the modal
      var userName = element.data('username') // Extract info from data-* attributes
      var userId = element.data('userid') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-body').text('Пользователь "' + userName + '" будет удален. Продолжить?')
      modal.find('.userId').val(userId)
    })
