//- Управление пользователями
extends layout

block content
  .container.my-2
    ol.breadcrumb
      li.breadcrumb-item
        a(href="/") Главная
      li.breadcrumb-item Администрирование
      li.breadcrumb-item.active #{title}

  .container
    h1 #{title}
    p Здесь можно добавлять новых пользователей, редактировать и удалять существуюших.

  .container
    .row
      .col-md-8.order-md-1
        h2 Список пользователей
      .col-md-4.order-md-2
        a.btn.btn-primary(href="/admin/user") Новый пользователь
      //-
        form(action="/admin/user")
          button.btn.btn-primary Новый пользователь
  
  if users.length > 0
    .container.mt-2
      table.table.table-hover
        thead.thead-dark
          tr
            th(scope="col") #
            th(scope="col") Логин
            th(scope="col") Email
            th(scope="col") Роль
            th(scope="col") Действия
        tbody
          each user, index in users
           tr
             th(scope="row")= index + 1
             td= user.name
             td= user.email
             td= user.role
             td
               a.mx-2(href="#")
                 i.material-icons.success create
               a.mx-2(href="#")
                 i.material-icons.danger delete
